<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles/home.css">
</head>
<body>
    
    <nav>
        <div class="heading">
        <img class="logo" src="/staticFiles/static/logo.png" height="60px" alt="">
        <h2>Lend a Hand</h2>
        </div>
        <form class="form-inline" action="/signin">
          <button  class="btn" type="submit">Sign In</button>
        </form>
      </nav>

      <div class="content">
        <p>Lend a Hand is the best platform to help you enhance your skills, expand your knowledge and prepare for technical interviews.</p>
        <form class="form-inline">
            <button class="btn-content" type="submit"> <a href="/menu" style="background-color: #73BC8E; color: white;" >Create Account</a>  </button>
          </form>
      </div>
  
</body>
</html>