<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/styles/menu.css">
</head>

<body>
  <nav>
    <div class="heading">
      <img class="logo" src="/staticFiles/static/logo.png" height="60px" alt="">
      <h2>Lend a Hand</h2>
    </div>
    <form class="form-inline" action="/signin">
      <button class="btn" type="submit">Sign In</button>
    </form>
  </nav>

  <h1>I am</h1>
  <div class="menus">

    <div class="menu1">
      <a href="/volunteersignup"><img src="/static/volunteer.jpeg" alt="" height="25%" width="auto" onclick=""></a>
      <h2>Volunteer</h2>
    </div>
    <!-- <div class="menu2">
      <a href="#"><img src="/static/user.jpeg" alt="" height="25%"></a>
      <h2>User</h2>
    </div> -->
    <div class="menu3">
      <a href="/organisersignup"><img src="/static/organiser.jpeg" alt="" height="25%"></a>
      <h2>Organiser</h2>
    </div>
  </div>
</body>

</html>